*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
header {
background-color: #f0f0f0;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}
.logo {
text-decoration: none;
font-size: 1.8em;
font-weight: 700;
color:#3a6cfc;
text-transform: uppercase;
font-family: Open Sans;
}
.navigation a {
text-decoration: none;
color: #3a6cfc;
font-size: 1em;
font-weight: 500;
padding-left: 30px;
}
.navigation a:hover{
color: #7c08ea

}
section{
padding: 100px 200px;
}
.main{
width: 100%;
min-height:100vh;
display: flex;
align-items: center;
background: url(./pngtree-gray-craft-paper-texture-randomly-arranged-large-hexagons-in-various-sizes-image_13754825.png) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.main h2 {
color: white;
font-size: 1.7em;
font-weight: 500;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main h2 span{
color: #4e9eff;
font-size: 3em;
font-weight: 600;
display: inline-block;
margin-top: 10px;
}
.main h3 {
color: white;
font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainbtn {
color: white;
text-decoration: none;
background-color: #3a6cfc;
border-radius: 15px;
display: inline-block;
padding: 0.9375em 2.1875em;
font-size: 1.1em;
font-weight: 600;
margin-bottom: 40px;
transition:  0.7s ease;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainbtn:hover {
background-color: #0a49f6;
transform: scale(1.1);
}
.social-icons a{
color: white; 
font-size: 1.7em;
padding-right: 40px;
}
.title {
display: flex;
justify-content: center;
color:#3a6cfc;
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
@media (min-width:1050px){
.projects .content{
display: grid;
grid-template-columns:repeat(3, 1fr) ;
gap: 10px;
}
}
.card{
background-color: white;
width: 21.25em;
box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: 0.7s ease;
}
.card:hover{
transform: scale(1.1);
}
.icon{
color: #3a6cfc;
font-size: 8em;
text-align: center;
}
.info{
text-align: center;
}
.info h3{
color: #3a6cfc;
font-size: 1.2em;
font-weight: 700;
margin: 10px;
font-family:Open Sans;
}
.info p {
font-family: Open Sans;
}
.projects{
background-color: black;
}
.projects .content{
margin-top: 30px;
}
.project-card{
background-color: white;
border: 3px solid white;
min-height: 14em;
width: 23em;
overflow: hidden;
border-radius: 10px;
margin: 20px;
transition: 0.7s ease;
}
.project-card:hover{
scale: 1.1;
}
.project-card:hover .project-image{
opacity: 0.9;
}
.project-image img{
width: 100%;
}
.project-info{
padding: 1em;
}
.project-category{
font-size: 0.8em;
color: black;  
font-family: Open Sans;  
}
.project-title{
display: flex;
justify-content: space-between;
text-transform: uppercase;
font-weight: 800;
font-family: Open Sans;
margin-top: 10px;
}
.more-details{
color: #3a6cfc;
}
.more-details:hover{
color: #7c08ea;
}
.contact .icon{
font-size: 4.5em;
}
.contact .info h3{
color: black;
}
.contact .info p{
font-size: 1.5em;
text-decoration: none;
}
.footer{
background-color: #000016;
color: white;
padding: 2em;
display: flex;
justify-content: space-between;
}
.footer-title{
font-size: 1.3em;
font-weight: 600;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-title span{
color: #3a6cfc;
}
a {
   text-decoration: none;
   color: black;
}
@media (max-width:1023px){
   header{
      padding: 12px 20px;
   }
   .navigation a{
      padding-left: 10px;
   }
   .title{
      font-size: 1.8em;
   }
   section{
      padding: 80px 20px;
   }
   .content{
      flex-direction: column;
      align-items: center;
   }

}
@media (max-width:641px){
    body{
      font-size: 12px;
    }
}
@media (max-width:300px){
    body{
      font-size: 10px;
    }
}

   